ion-input {
    --color: #e520e5; /* Color del texto */
    --placeholder-color: #aa1da5; /* Color del placeholder */
    --border-style: #aa1da5;
    // --background: #aa1da5; /* Color de fondo */
  }